{{=[[ ]]=}}
<!DOCTYPE html>
<html ng-controller="page">
    <head>
        <script src="/utility/modules.js"></script>
        <script src="/modules_setup.js"></script>
        <script src="detail.js"></script>
        <title>Details - [[extensionName]]</title>
    </head>
    <body>
        <h1>{{manga.title}}</h1>
        <ul>
            <li ng-repeat="title in manga.alternativeTitles track by $index">
                <h3>{{title}}</h3>
            </li>
        </ul>
        <h2>Chapters:</h2>
        <ul>
            <li ng-repeat="chapter in manga.chapters track by $index">
                <a href="read.html?{{manga.site.id}}/{{manga.id}}/{{chapter.id}}">{{chapter.title}}</a>
            </li>
        </ul>
    </body>
</html>

