<!DOCTYPE html>
<html ng-app="TheMangaTracker">
    <head>
      % for script in sorted(scripts, key=lambda s: 0 if s.parts[0] == 'thirdparty' else 1 if s == 'main.js' else 2):
        <script src=${ script }></script>
      % endfor
        <title ng-controller="Title">{{ title }}</title>
    </head>
    <body>
        {{ name }} {{ version }}
        {{ description }}
    </body>
</html>

