<!DOCTYPE html>
<html ng-app="my_manga" ng-controller="my_manga">
    <head>
        <script src="/thirdparty/angular.js"></script>
        <script src="my_manga.js"></script>
        <title>{{ title }}</title>
    </head>
    <body>
        <a href="/search.html">Search</a>    
    </body>
</html>

