<!DOCTYPE html>
<html ng-app="search" ng-controller="search">
    <head>
        <script src="thirdparty/jquery.js"></script>
        <script src="thirdparty/angular.js"></script>
      % for script in [s.relative_to(OUTPUT) for s in OUTPUT.glob('common/**/*.js')]:
        <script src="${ script }" charset="UTF-8"></script>
      % endfor
      % for script in ['hosts.js'] + [s.relative_to(OUTPUT) for s in OUTPUT.glob('hosts/**/*.js')]:
        <script src="${ script }" charset="UTF-8"></script>
      % endfor
        <script src="search.js" charset="UTF-8"></script>
        <title>{{ title }}</title>
    </head>
    <body>
        <input type="text" ng-model="name"></input>
        <button ng-click="search()">Search!</button>
        <div ng-repeat="url in urls">
            <a href="{{ url }}">{{ url }}</a>
        </div>
    </body>
</html>

