<!DOCTYPE html>
<html ng-controller="page">
    <head>
        <script src="/thirdparty/require.js" data-main="./search.js"></script>
        <title>{{ title }} - ${ CONFIG['name'] }</title>
    </head>
    <body>
        <input type="text" data-ng-model="name"></input>
        <button data-ng-click="search()">Search!</button>
        <div data-ng-repeat="manga in mangas track by $index">
            {{ $index }}: <a href="{{ manga.manga }}">{{ manga.title }}</a>
        </div>
    </body>
</html>

