{{=[[ ]]=}}
<!DOCTYPE html>
<html ng-controller="page">
    <head>
        <script src="[[requireUrl]]"></script>
        <script src="/require-config.js"></script>
        <script src="search.js"></script>
        <title>Search - [[extensionName]]</title>
    </head>
    <body>
        <div>
            Title: <input type="text" ng-model="title"></input>
        </div>
        <button ng-click="toggleSearch()">Search!</button>
        <ol>
            <li ng-repeat="manga in mangas track by $index">
                <a href="/read.html?site={{encode(manga.site)}}&manga={{encode(manga.id)}}">{{manga.title}}</a>
            </li>
        </ol>
    </body>
</html>

