{{=[[ ]]=}}
<!DOCTYPE html>
<html ng-controller="page">
  <head>
    <script src="[[requireUrl]]"></script>
    <script src="/require_config.js"></script>
    <script src="search.js"></script>
    <title>Search - [[extensionName]]</title>
  </head>
  <body>
    <table>
      <tr>
        <td style="text-align:right">Title:</td>
        <td>
          <input type="text" ng-model="query.title"></input>
        </td>
      </tr>
      <tr>
        <td style="text-align:right">Writer:</td>
        <td>
          <input type="text" ng-model="query.writer"></input>
        </td>
      </tr>
      <tr>
        <td style="text-align:right">Artist:</td>
        <td>
          <input type="text" ng-model="query.artist"></input>
        </td>
      </tr>
      <tr>
        <td style="text-align:right">Status:</td>
        <td>
          <select ng-model="query.status">
            <option value="" selected>Any</option>
            <option value="ongoing">Ongoing</option>
            <option value="complete">Complete</option>
          </select>
        </td>
      </tr>
      <tr>
        <td style="text-align:right">Layout:</td>
        <td>
          <select ng-model="query.layout">
            <option value="" selected>Any</option>
            <option value="right_to_left">Right to left</option>
            <option value="left_to_right">Left to right</option>
          </select>
        </td>
      </tr>
      <tr>
        <td style="text-align:right">Languages:</td>
        <td>
          <select multiple style="resize:vertical" ng-model="query.languages">
              <option ng-repeat="language in languages" value="{{language.id}}">{{language.name}}</option>
          </select>
        </td>
      </tr>
      <tr>
        <td style="text-align:right">Sites:</td>
        <td>
          <select multiple style="resize:vertical" ng-model="query.sites">
              <option ng-repeat="site in sites" value="{{site}}">{{site}}</option>
          </select>
        </td>
      </tr>

      <tr>
        <td></td>
        <td style="text-align:right">
          <a href="?{{buildQueryString(query)}}">
            <button>Search!</button>
          </a>
        </td>
      </tr>
    </table>

    <hr></hr>

    <ol>
      <li ng-repeat="result in results track by $index">
        <a href="detail.html?{{result.site}}/{{result.manga.id}}">{{result.manga.titles[0]}}</a>
      </li>
    </ol>

    <div id="bottom"></div>
  </body>
</html>

