<!DOCTYPE html>
<html ng-app="ui">
    <head>
      % for script in ['thirdparty/angular.js', 'thirdparty/angular-route.js'] + ['ui.js'] + [s.relative_to(TARGET) for s in TARGET.glob('ui/**/*.js')]:
        <script src="${ script }"></script>
      % endfor
        <title>{{ title }}</title>
    </head>
    <body>
        <ng-view></ng-view>
    </body>
</html>

